<nav>
    <div class="nav-wrapper bgsec">
      <a href="#" class=" padd brand-logo up prime">SSC</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="mynav right hide-on-med-and-down">
        <li class="btn1 active"><a href="#" class="prime"><i class="material-icons">dashboard</i>Dashboard</a></li>
        <li class="btn1"><a href="#" class="prime"><i class="material-icons">update</i>Update Profile</a></li>
        <li class="btn1"><a href="#" class="prime"><i class="material-icons"><svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M14 13H8V14.5H14C14.825 14.5 15.5 13.825 15.5 13V2.5C15.5 1.675 14.825 1 14 1H8V2.5H14V13Z" fill="currentColor"/>
            <path d="M3.75 11.5L4.8 10.45L2.85 8.5L10.5 8.5V7L2.85 7L4.8 5.05L3.75 4L6.25849e-07 7.75L3.75 11.5Z" fill="currentColor"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="18" height="18" fill="white"/>
            </clipPath>
            </defs>
            </svg></i>Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class=" sidenav" id="mobile-demo">
    <li><a href="#" class="prime"><i class="material-icons">dashboard</i>Dashboard</a></li>
        <li><a href="#" class="prime"><i class="material-icons">update</i>Update Profile</a></li>
        <li><a href="#" class="prime"><i class="material-icons"><svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M14 13H8V14.5H14C14.825 14.5 15.5 13.825 15.5 13V2.5C15.5 1.675 14.825 1 14 1H8V2.5H14V13Z" fill="currentColor"/>
            <path d="M3.75 11.5L4.8 10.45L2.85 8.5L10.5 8.5V7L2.85 7L4.8 5.05L3.75 4L6.25849e-07 7.75L3.75 11.5Z" fill="currentColor"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="18" height="18" fill="white"/>
            </clipPath>
            </defs>
            </svg></i>Logout</a></li>
  </ul>