body {
    --primary: #6200ee;
    --secondary: #e0e0e0;
}

#pp{
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
}
.up {
    text-transform: uppercase;
}

.padd {
    padding-left: 1vw !important;
}

.active {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}

.prime {
    color: var(--primary) !important;
}

.bgprime {
    background-color: var(--primary) !important;
}

.sec {
    color: var(--secondary) !important;
}

.bgsec {
    background-color: var(--secondary) !important;
}

li>a {
    display: flex !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h4{
    text-transform: uppercase;
}
main {
    flex: 1 0 auto;
}
.p{
    width: 5vw;
    height: 4.5vw;
}
.circle {
    border-radius: 50%;
}
.bm{
    margin-bottom: 2vw;
}
.fn{
    padding: 2vw;
    width: 100%;
}
@media screen and (max-width: 679px) {
    .card{
        border-radius: 10px;
        padding-top: 4vh;
        display: grid;
        justify-content: center;
        width: 90vw !important;
        margin-left: 5vw !important;
        margin-right: 5vw !important;

    }
    .oneline {
        display: contents;
    }

    .ip {
        width: 80vw !important;
    }

    .select-wrapper,.filename {
        width: 75vw !important;
    }
}
.filename{
    padding: 1.4vw;
    padding-left: 5.5vw;
    display: inline-block;
    font-weight: 600;
}
.alert{
    margin-top: 0px;
    position: sticky;
    top: 0px;
    background-color: red;
    height: 56px;
    padding: 2vw;
    text-align: center;
    color: white;
    width: 80vw;
    margin-left: 10vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
    display: grid;
    justify-content: center;
    padding-top: 10px;
}
input[type="file"] {
    opacity: 0;
}

@media screen and (min-width: 679px) {
    .oneline {
        display: flex;
    }

    .oneline>button,
    .oneline>a {
        width: 30vw;

    }

    .select-wrapper,.filename {
        width: 55vw !important;
    }

}

.bod {
    box-shadow: none !important;
}

.ip {
    width: 60vw !important;
}

form>div {
    margin-top: 1.5vw;
    width: 100% !important;
}

form {
    display: grid;
    width: 100% !important;
    justify-content: center;
    padding-top: 2vw;
}

.mdc-text-field__icon {
    padding: 0.5vw;
}

.center {
    justify-content: center;
}

.gen {
    height: auto !important;
    margin-top: 1vw !important;
}

form>.gen {
    margin-top: 0px;
}

.gen>p {
    padding-left: 1vw;

}

.selopt {
    width: 55vw !important;
}

#gen {
    width: 1vw;
}

.select {
    width: 100%;
}
#preimg{
    height: 5vh;
    width: 5vw;
}